@charset "utf-8";

@font-face {

    font-family: "Century Gothic";
    src:url("../fonts/GOTHIC.TTF");
}

@font-face {

    font-family: "Century Gothic Bold";
    src:url("../fonts/GOTHICB.TTF");
}

@font-face {

    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");

}

html,body {

    margin: 0;
    padding: 0;
    font-size: 3vw;

}

.header {

    height: 8vh;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 2;

}

#logo { height: 101%;}

.main {

    min-height: 60vh;
    width: 100%;
    display: flex;
    background-color: #1E444D;
    z-index: -1;
    padding-bottom: 20px;
    position: relative;

}

.mainContainer {

    min-height: 60vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;

}

#me {

    width: 20vw;
    height: 20vw;
    padding: 10px;

}

.name {

    font-size: 11vw;
    font-family: 'Century Gothic', sans-serif;
    color: white;
    text-align: right;
    margin: 0px 5px 0px 0px;

}

#dev {

    font-size: 3vw;
    font-family: 'Comfortaa', SansSerif;
    color: #E19250;
    text-align: right;
    margin: 0px 5px 0px;


}

.socialContainer {

    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

}

#gitMain {

    width: 40px;
	height: 40px;
    padding-right: 20px;

}

#linkedInMain {

    width: 40px;
	height: 40px;
    padding-left: 5px;

}


.title {

    font-family: "Century Gothic Bold", SansSerif;
    color: #1E444D;
    font-weight: 900;
    font-size: 18vw;
    margin-top: 0px;
    margin-bottom: 5vw;
    z-index: -1;
    line-height: 11vw;

}

.projectContainer {

    display: flex;
    flex-direction: column;


}

.project {

    font-family: "Century Gothic", SansSerif;
    z-index: 1;

}

.projectImg {

    width: 90%;
    margin: 10px 5%;

}

.projectName {

    font-family: "Century Gothic Bold", SansSerif;
    color: #1E444D;
    margin: 0px auto 0px 5%;
    font-size: 2rem;
    z-index: 1;

}

.projectTech {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin: 5px auto 15px 5%;
    z-index: 1;

}


.skillsContainer {

    background-color: #1E444D;
    position: relative;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    z-index: -2;
}


.skillCard {

    margin: auto;

}

.skillTitle {

    font-family: "Century Gothic", SansSerif;
    color: #FFFFFF;
    margin: 5px auto 5px 2%;

}

.columnContainer {

    display: flex;
    flex-direction: row;

}

.columnLeft {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin-left: 2%;
    text-align: justify;
    width: 50%;
    position: relative;
    z-index: 1;
}

.columnRight {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    text-align: justify;
    position: relative;
    z-index: 1;

}

.columnContainer {

    display: flex;
    flex-direction: row;

}

.contactContainer { padding-bottom: 10px;}

#contactSubtitle {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin: 0px auto 5vh 2%;
    font-size: 1.5rem;

}

.cardLink { text-decoration: none;}

.contactCard {

    margin: 5px;
    font-family: "Century Gothic", SansSerif;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 10pt;
    display: flex;
    flex-basis: fit-content;
    background-color: #1E444D;

}

.contactCard:hover {

    background-color: #E19250;
    transition: ease-in 200ms;

}

.contactCard:hover > .cardSub {

    color: #1E444D;

}

.cardTitle {

    font-size: 40pt;
    margin: 0px 0px 20px 0px;
    width: 50%;
}

.cardSub {

    font-family: "Comfortaa", SansSerif;
    align-self: flex-end;
    color: #E19250;
    width: 50%;
    text-align: right;
    padding-right: 10px;

}

.footer {

    background-color: #1E444D;
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

#copyright {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin: auto;
    white-space: nowrap;
    font-size: 0.5rem;

}

/* ----------------- MEDIA QUERIES ----------------- */

@media only screen and (min-width: 1000px) {

    .main {

        min-height: 80vh;

    }

    .mainContainer {

        min-height: 80vh;

    }

    .name {

        font-size: 8vw;

    }

    .innerProjectContainer {

        display: flex;

    }

    .innerSkillsContainer {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .projectName, .projectTech {

        font-size: 0.8em;

    }

    .skillCard {

        width: 45%;
        margin: auto auto 10px auto;

    }

    .columnLeft, .columnRight {

      font-size: 0.5rem;

    }

    .cardContainer {

        display: flex;
        justify-items: center;
        justify-content: center;

    }

    .contactCard {

        width: 48vw;

    }


    .footer {

        min-height: 100px;

    }


}




