@charset "utf-8";

@font-face {

    font-family: "Century Gothic";
    src:url("../fonts/GOTHIC.TTF");
}

@font-face {

    font-family: "Century Gothic Bold";
    src:url("../fonts/GOTHICB.TTF");
}

@font-face {

    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");

}

html,body {

    margin: 0;
    padding: 0;

}

.header {

    height: 100px;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

#logo { height: 101%;}

.main {


    min-height: 100px;
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    background-color: #1E444D;
    z-index: -1;
    margin-bottom: 0px;
}

.mainContainer {

    display: flex;
    flex-direction: column;

}

#me {

    width: 20%;
    height: 20%;
    margin-right: auto;
    padding-top: 2%;


}

#name {

    font-size: 130px;
    font-family: 'Century Gothic', sans-serif;
    color: white;
    text-align: right;
    margin: 0px 10px 10px;

}

#dev {

    font-size: 50px;
    font-family: 'Comfortaa', SansSerif;
    color: #E19250;
    text-align: right;
    margin: 0px 10px 500px 10px;

}

.socialContainer {

    display: flex;
    align-self: flex-end;
    margin-right: 20px;


}

#gitMain {

    width: 100px;
	height: 100px;
    padding-right: 20px;

}

#linkedInMain {

    width: 100px;
	height: 100px;
    padding-left: 20px;

}


#arrow {

    width: 50px;
    margin: auto;


}

#projectTitle {

    font-family: "Century Gothic Bold", SansSerif;
    color: #1E444D;
    font-weight: 900;
    font-size: 200px;
    margin: 0px;
    padding-bottom: 40px;
    line-height: 120px;

}

.projectContainer {

    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}

.project {


    margin: 20px 1%;
    font-family: "Century Gothic", SansSerif;
    padding: 20px;

}

.projectImg {

    width: 90%;
    margin: 10px 5%;
    padding-top: 20px;

}

.projectName {

    font-family: "Century Gothic Bold", SansSerif;
    color: #1E444D;
    margin: 0px auto 0px 5%;
    font-size: 70px;
    padding-top: 20px;

}

.projectTech {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin: 5px auto 15px 5%;
    font-size: 18.9pt;

}


.skillsContainer {

    background-color: #1E444D;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 50px;

}

#skillTitle {

    font-family: "Century Gothic Bold", SansSerif;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 200px;
    margin: 0px;
    padding-bottom: 40px;
    line-height: 120px;
}

.skillCard {

    margin: 100px 2% 30px;

}

.skillTitle {

    font-family: "Century Gothic", SansSerif;
    color: #FFFFFF;
    margin: 5px auto 5px 2%;
    font-size: 40px;

}

.columnContainer {

    display: flex;
    flex-direction: row;

}

.columnLeft {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin-left: 2%;
    font-size: 40px;
    text-align: justify;
    width: 150px;

}

.columnRight {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin-left: 20%;
    font-size: 40px;
    text-align: justify;
}

.columnContainer {

    display: flex;
    flex-direction: row;

}

.contactContainer {


    padding-bottom: 50px;

}

#contactTitle {

    font-family: "Century Gothic Bold", SansSerif;
    color: #1E444D;
    font-weight: 900;
    font-size: 200px;
    margin: 0px;
    padding-bottom: 40px;
    line-height: 120px;

}

#contactSubtitle {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    margin: 10px auto 10px 2%;
    font-size: 30px;

}

.cardLink { text-decoration: none;}

.contactCard {

    margin: 30px;
    font-family: "Century Gothic", SansSerif;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    flex-basis: fit-content;
    background-color: #1E444D;


}

.contactCard:hover {

    background-color: #E19250;
    transition: ease-in 200ms;

}

.contactCard:hover > .cardSub {

    color: #1E444D;

}

.cardTitle {

    font-size: 150px;
    line-height: 140px;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 50%;
}

.cardSub {

    font-family: "Comfortaa", SansSerif;
    align-self: flex-end;
    color: #E19250;
    width: 50%;
    text-align: right;
    padding-right: 10px;

}

.footer {

    background-color: #1E444D;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

#copyright {

    font-family: "Comfortaa", SansSerif;
    color: #E19250;
    font-size: 30px;
    margin: auto;
    white-space: nowrap;

}

/* ----------------- MEDIA QUERIES ----------------- */

@media only screen and (min-width: 1000px) {

    .innerProjectContainer {

        display: flex;

    }

    .innerSkillsContainer {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .skillCard {

        width: 45%;
        margin: auto auto 10px auto;

    }

    .columnLeft, .columnRight {

        font-size: 20px;

    }

    .cardContainer {

        display: flex;

    }


    .footer {

        min-height: 100px;

    }

    #copyright {

        font-size: 15px;

    }

}